@font-face {
  font-family: 'Roboto Mono';
  font-weight: 400;
  src: url('../assets/roboto-mono-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-weight: 700;
  src: url('../assets/roboto-mono-700.ttf') format('truetype');
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Mono', monospace;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 768px;
  background-color: rgba(245, 245, 245, 0.5);
  padding: 0 32px; /* Уменьшаем padding, чтобы не добавлял высоту */
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: var(--theme-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: var(--theme-bg);
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header h1 {
  margin: 0;
  font-size: 2rem;
  color: var(--theme-text);
  display: flex;
  align-items: center;
}

header h1 img {
  margin-right: 10px;
  width: 50px;
  height: auto;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  margin: 10px 0 0;
}

nav li {
  margin: 0 10px;
}

nav li::after {
  content: '|';
  margin-left: 10px;
  color: #e50914;
}

nav li:last-child::after {
  content: '';
}

nav a {
  text-decoration: none;
  color: #e50914;
  font-weight: 500;
  font-size: 1rem;
}

nav a:hover {
  text-decoration: underline;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--theme-bg);
  border-radius: 8px;
  margin-bottom: 20px; /* Добавляем отступ внизу */
}

section {
  margin-bottom: 20px;
}

h1, h2 {
  font-weight: 700;
  margin-bottom: 20px;
}

ul {
  padding-left: 20px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
}

small {
  color: var(--theme-accent-2);
}

form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

form input {
  padding: 5px;
  width: 200px;
  margin-right: 10px;
  border: 1px solid var(--theme-accent-2);
  border-radius: 4px;
}

form button {
  padding: 5px 10px;
  background-color: var(--theme-accent);
  border: none;
  color: var(--theme-bg);
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: var(--theme-accent-2);
}

.blog-container {
  display: flex;
  gap: 20px;
}

.posts-container {
  flex: 3;
}

.tags-container {
  flex: 1;
}

.post-item {
  margin-bottom: 20px;
}

.tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tag {
  background-color: var(--theme-accent);
  color: var(--theme-bg);
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 0.75rem;
  text-decoration: none;
  cursor: pointer;
}

.tag-item {
  margin-bottom: 10px;
}

.tag-item a {
  background-color: var(--theme-accent);
  color: var (--theme-bg);
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 0.75rem;
  text-decoration: none;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0;
  list-style: none;
  margin: 0 0 0 10px;
}

.social-icons li {
  display: inline;
  margin: 0;
}

social-icons a {
  display: inline-block;
  width: 20px;
  height: 20px;
}

pre, code {
  font-family: 'Roboto Mono', monospace;
  background: #2d2d2d;
  color: #f8f8f2;
  padding: 0.5em;
  border-radius: 5px;
  overflow-x: auto;
}

pre {
  padding: 1em;
  margin: 1em 0;
}

.expressive-code__copy-button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  background: #2d2d2d;
  color: #f8f8f2;
  border: none;
  padding: 0.25em 0.5em;
  cursor: pointer;
  border-radius: 3px;
}

.expressive-code__copy-button:hover {
  background: #444444;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--theme-bg);
  margin-top: auto; /* Ensure footer sticks to the bottom */
}

footer p {
  margin: 0;
}

footer a {
  text-decoration: none;
  color: var(--theme-link);
  font-weight: 500;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}

/* Styles for displaying articles on the home page */
.home-posts-list {
  list-style: none;
  padding-left: 0; /* Убираем отступ слева */
  margin-bottom: 20px;
}

.home-post-item {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}

.home-post-date {
  margin-right: 10px;
  color: var(--theme-accent-2);
}

.home-post-title {
  color: var(--theme-text);
}

.home-post-title:hover {
  text-decoration: none;
}

.projects-section {
  margin-top: 20px;
}

.projects-section h2 {
  font-weight: 700;
  margin-bottom: 20px;
}

.projects-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.projects-section li {
  margin-bottom: 15px;
}

.projects-section a {
  color: var(--theme-text);
  text-decoration: underline;
  border-bottom: 1px solid var(--theme-text);
}

.projects-section a:hover {
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.search-form {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-form input {
  padding: 5px;
  border: 1px solid var(--theme-accent-2);
  border-radius: 4px;
  margin-right: 5px;
}

.search-form button {
  padding: 5px 10px;
  background-color: var(--theme-accent);
  border: none;
  color: var(--theme-bg);
  border-radius: 4px;
  cursor: pointer;
}

.search-form button:hover {
  background-color: var(--theme-accent-2);
}
